:root {
   --bg: #111111;
   --bgSoft: #161616;
   --text: white;
   --textSoft: #b7bac1;
   --textFooter: #777777;
   --input: #202020;
}

body {
   /* background-color: #111111; */
   background-image: url(./images/bg-neon.png);
   /* background-size: contain; */
   background-size: 100% 100%;
   background-repeat: no-repeat;
   font-family: 'Afacad', sans-serif;
   /* padding-top: 100px; */
   font-size: 18px;
   width: 100%;
   height: 100vh;
   overflow: hidden;
}

h1 {
   font-size: 40px;
   background: -webkit-linear-gradient(#00d4ff, #1A2980);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h3 {
   color: var(--textSoft);
}

a {
   font-weight: 600;
   color: #007bff;
   text-decoration: none;
}

p {
   color: #4b5156;
}

.container {
   border: 2px solid #007bff;
   max-width: 550px;
   margin: auto;
   margin-top: 100px;
   background-color: var(--bgSoft);
   border-radius: 20px;
   box-shadow: 0px 0px 30px 0px #007bff;
}

footer {
   font-family: 'Fira Code', monospace;
   /* color: var(--textFooter); */
   position: absolute;
   bottom: 0;
   width: 100%;
   text-align: center;
   font-size: 14px;
   a {
      text-decoration: none;
      font-weight: normal;
      background: -webkit-linear-gradient(#00d4ff, #007bff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
} 

input {
   outline: none;
   border: none;
} 

.header-bar {
   display: flex;
   justify-content: space-between;
   color: var(--text);
   padding: 10px;
   padding-left: 20px;
   border-radius: 20px 20px 0 0;
   /* background: linear-gradient(270deg, #00d4ff 0%, #1174ee 35%, #090979 100%);  */
   background: linear-gradient(60deg, #111111, #161616);
}

.header-bar a {
   color: white;
   font-size: 20px;
   background: -webkit-linear-gradient(#00d4ff, #1A2980);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.task-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--bgSoft);
   border-radius: 0 0 20px 20px;
   border-top: 3px solid var(--input);
   overflow: hidden;
}

.task-title {
   display: flex;
   padding: 20px;
   a {
      text-decoration: none;
      color: var(--textSoft);
      margin-left: 10px;
   }
   i {
      transform: translateY(3px);
   }
}

/* Replaced with fontawesome icons */

/* .task-complete-icon {
   height: 20px;
   width: 20px;
   background-color: #1174ee;
   border-radius: 50%;
}

.task-incomplete-icon {
   height: 20px;
   width: 20px;
   background-color: rgb(218, 218, 218);
   border-radius: 50%;
} */

.delete-link {
   text-decoration: none;
   font-weight: 900;
   color: #cf4949;
   font-size: 22px;
   line-height: 0;
   padding: 20px;
}

#delete-confirm {
   color: var(--textSoft);
}

#add-link {
   text-decoration: none;
   font-size: 36px;
   text-shadow: 0px 0px 15px #007bff;
   cursor: pointer;
   /* color: #1174ee; */
   background: -webkit-linear-gradient(#00d4ff, #1A2980);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#search-add-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}


@media screen and (max-width:320px) {
   #search-add-wrapper {
      padding: 10px;
   }
}

input[type=text],
input[type=password],
textarea {
   font-size: 16px;
   color: var(--textSoft);
   background-color: var(--input);
   border-radius: 10px;
   padding: 10px;
   width: 90%;
   height: auto;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus {
   border: 2px solid #007bff;
}

label {
   padding-top: 10px !important;
   display: block;
   color: var(--textSoft);
}

.button {
   background-image: linear-gradient(to right, #1A2980 0%, #00d4ff  51%, #1A2980  100%);
   color: white;   
   background-size: 200% auto;
   transition: 0.5s;
   text-align: center;
   /* text-transform: uppercase; */
   padding: 10px;
   margin: 5px;
   font-weight: bold;
   font-size: 16px;
   border-radius: 10px;
   cursor: pointer;
   text-decoration: none;
   box-shadow: 2px 2px 15px -2px #007bff;
}  

.button:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
}

.card-body {
   padding: 20px;
   p {
      color: var(--textSoft);
   }
   a {
      background: -webkit-linear-gradient(#00d4ff, #044892);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
}

.strikethrough {
   text-decoration: none; /* Remove the default strikethrough */
   border-bottom: 5px solid red; /* Add a red bottom border to simulate strikethrough */
}