:root {
   --bg: #161616;
   --bgSoft: #1E1E1E;
   --text: white;
   --textSoft: #b7bac1;
   --textFooter: #777777;
   --input: #2a2a2a;
}

body {
   background-color: var(--bg);
   font-family: 'Ubuntu', sans-serif;
   padding-top: 100px;
   font-size: large;
   width: 100%;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Raleway', sans-serif;
}

h3 {
   color: var(--textSoft);
}

a {
   font-weight: 600;
   color: #007bff;
   text-decoration: none;
}

p {
   color: #4b5156;
}

.container {
   border: 2px solid #007bff;
   max-width: 550px;
   margin: auto;
   background-color: var(--bgSoft);
   border-radius: 20px;
   box-shadow: 0px 0px 15px 0px #007bff;
}

footer {
   font-family: 'Fira Code', monospace;
   color: var(--textFooter);
   position: absolute;
   bottom: 0;
   width: 100%;
   text-align: center;
   a {
      text-decoration: none;
      font-weight: normal;
   }
} 

input {
   outline: none;
   border: none;
} 

.header-bar {
   display: flex;
   justify-content: space-between;
   color: var(--text);
   padding: 10px;
   border-radius: 20px 20px 0 0;
   /* background: linear-gradient(270deg, #00d4ff 0%, #1174ee 35%, #090979 100%);  */
   background: linear-gradient(60deg, #000000, #444444);
}

.back {
   color: white;
}

.task-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--bgSoft);
   border-radius: 0 0 20px 20px;
   border-top: 3px solid var(--input);
   overflow: hidden;
}

.task-title {
   display: flex;
   padding: 20px;
}

.task-title a {
   text-decoration: none;
   color: var(--textSoft);
   margin-left: 10px;
}

/* Replaced with fontawesome icons */

/* .task-complete-icon {
   height: 20px;
   width: 20px;
   background-color: #1174ee;
   border-radius: 50%;
}

.task-incomplete-icon {
   height: 20px;
   width: 20px;
   background-color: rgb(218, 218, 218);
   border-radius: 50%;
} */

.delete-link {
   text-decoration: none;
   font-weight: 900;
   color: #cf4949;
   font-size: 22px;
   line-height: 0;
   padding: 20px;
}

#delete-confirm {
   color: var(--textSoft);
}

#add-link {
   color: #1174ee;
   text-decoration: none;
   font-size: 36px;
   text-shadow: 0px 0px 15px #007bff;
   cursor: pointer;
}

#search-add-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}


@media screen and (max-width:320px) {
   #search-add-wrapper {
      padding: 10px;
   }
}

input[type=text],
input[type=password],
textarea {
   font-size: 16px;
   color: var(--textSoft);
   background-color: var(--input);
   border-radius: 10px;
   padding: 10px;
   width: 90%;
   height: auto;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus {
   border: 2px solid #007bff;
}

label {
   padding-top: 10px !important;
   display: block;
   color: var(--textSoft);
}

.button {
   background-image: linear-gradient(to right, #1A2980 0%, #00d4ff  51%, #1A2980  100%);
   color: white;   
   background-size: 200% auto;
   transition: 0.5s;
   text-align: center;
   /* text-transform: uppercase; */
   padding: 10px;
   margin: 5px;
   font-weight: bold;
   font-size: 16px;
   border-radius: 10px;
   cursor: pointer;
   text-decoration: none;
   box-shadow: 2px 2px 15px -2px #007bff;
}  

.button:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
}

.card-body {
   padding: 20px;
   p {
      color: var(--textSoft);
   }
}


.strikethrough {
   text-decoration: none; /* Remove the default strikethrough */
   border-bottom: 5px solid red; /* Add a red bottom border to simulate strikethrough */
}