{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
   <a class='back' href="{% url 'tasks' %}"><i class="fa-solid fa-backward" style="color: #f7fcff;"></i> Back</a>
</div>

<div class="card-body">
   <form method="POST" action="">
      {% csrf_token %}
      {% comment %} {{form.as_p}} {% endcomment %}
      <label style="margin-bottom: 5px;">{{form.title.label}}</label>
      {{form.title}}
      <label style="margin-bottom: 5px; margin-top: 10px;">{{form.description.label}}</label>
      {{form.description}}
      <label style="margin-bottom: 5px; margin-top: 10px;">{{form.complete.label}}</label>
      {{form.complete}}
      <label style="margin-bottom: 5px; margin-top: 10px;">{{form.checkbox.label}}</label>
      {{form.checkbox}}
      <input style="margin-top:20px;" class="button" type="submit" value="Submit">
   </form>
</div>

{% endblock content %}