{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
  <div>
    <h1>Hello {{request.user|title}}!</h1>
    <h3 style="margin:0">You have {{count}} incomplete task{{count|pluralize:"s"}}.</h3>
  </div>

  {% if request.user.is_authenticated %}
    {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
      {% csrf_token %}
      <a href="#" onclick="document.getElementById('logout-form').submit()">
        <i class="fa-solid fa-right-from-bracket" style="color: white;"></i>
      </a>
    </form>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
</div>

<div id="search-add-wrapper">
  <form method="GET" style="margin-top: 2px;display: flex;">
    <input type="text" name="search-area" value="{{search_input}}">
    <input id="searchBtn" class="button" type="submit" value="Search">
  </form>
  <a id="add-link" href="{% url 'task-create' %}">
    <i class="fa-solid fa-plus fa-xs"></i>
  </a>
</div>


<div class="task-items-wrapper">
  {% for task in tasks %}
    <div class="task-wrapper">
      {% if task.complete %}
        <div class="task-title">
          <i class="fa-solid fa-square-check" style="color: #007bff;"></i>
          <s style='text-decoration-color: white;'><a href="{% url 'task-update' task.id %}">{{task}}</a></s>
        </div>
        <a class="delete-link" href="{% url 'task-delete' task.id %}">
          <i class="fa-solid fa-trash fa-xs"></i>
        </a>
      
        {% else %}
        <div class="task-title">
          <i class="fa-solid fa-square" style="color: #dadada;"></i>
          <a href="{% url 'task-update' task.id %}">{{task}}</a>
        </div>
        <a class="delete-link" href="{% url 'task-delete' task.id %}">
          <i class="fa-solid fa-trash fa-xs"></i>
        </a>
      {% endif %}
    </div>

  {% empty %}
    <h3 style="padding:20px;">No tasks to be done!</h3>
  {% endfor %}
</div>


{% endblock content %}